@media (min-width: 768px) {
  .logoLink {
    margin-right: 44px;
  }
  .logo {
    width: 170px;
    height: 40px;
    margin-right: 24px;
  }
}

@media (min-width: 768px) {
  .logoLink {
    margin-right: 56px;
  }
}
