.feedbacks {
  margin-bottom: 100px;
}

.title {
  color: var(--dark-text-color);
  text-shadow: 0px 50px 100px var(--white-color);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 84px;
  margin-top: 120px;
}

.feedbacksBtn {
  display: block;
  width: 270px;
  height: 64px;
  padding: 8px 22px;
  text-align: center;
  background-color: var(--dark-background-color);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--light-text-color);
  margin-top: 50px;
  margin-left: auto;
}
