.header {
  height: 64px;
  background-color: var(--dark-background-color);

  @media screen and (min-width: 768px) {
    height: 88px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 135px 18px;
}
