/* сss для секції Promotions*/
.swiper-button-next,
.swiper-button-prev {
    text-rendering: auto;
}
div.swiper-button-next,
div.swiper-button-prev {
    width: 24px !important;
    height: 24px !important;
    background: #263238;
    backdrop-filter: blur(2px);
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}
div.swiper-button-next::after,
div.swiper-button-prev::after {
    color: #fdfdfd !important;
    font-size: 10px !important;
}

/* Для екранів більше 768px */
@media (min-width: 768px) {

    div.swiper-button-next,
    div.swiper-button-prev {
        width: 40px !important;
        height: 40px !important;
    }

        div.swiper-button-next::after,
        div.swiper-button-prev::after {
        font-size: 20px !important;
    }
}