@import '../../../../styles/index.scss';

.design {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
  @include media-min(desktop) {
    margin-bottom: 221px;
  }

  //     background-image: url('../../../../../public/images/catalog/bg.png');
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     background-position: right top;
}

.designEl {
  position: relative;
  margin-top: 60px;
}
.designPink {
  background-color: getColor(light-pink);
  margin-left: 16px;
  padding: 40px 16px;
  margin-top: 180px;

  @include media-min(desktop) {
    width: 770px;
    height: 428px;
    padding: 60px 40px 68px 100px;
    margin-left: 535px;
  }
}
.designGrey {
  background-color: #cfd8dc;
  margin-right: 16px;
  padding: 40px 16px;
  margin-top: 180px;
  @include media-min(desktop) {
    width: 770px;
    height: 428px;
    padding: 60px 40px 68px 100px;
    margin-left: 135px;
  }
}

.title {
  @include main-font(700, 20px, 27px);
  margin-bottom: 12px;
  @include media-min(desktop){
    @include main-font(700, 24px, 33px, 0.05em);
  }
}
.text {
  border-top: 1px solid black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  @include main-font(400, 16px, 22px, 0.05em);
  @include media-min(desktop) {
    @include main-font(400, 18px, 24.5px, 0.05em);
    padding-top: 24px;
  }
}

.img {
  position: absolute;
  top: -25px;
  z-index: -1;
  @include media-min(desktop) {
    width: 805px;
    height: 588px;
    top: 100px;
  }
}

.imgGrey {
  position: absolute;
  top: -25px;
  z-index: -1;
  @include media-min(desktop) {
    width: 805px;
    height: 588px;
    top: 100px;
    left: 635px;
  }
}
