.breadcrumbsList {
  margin-bottom: 28px;

  .item {
    display: inline-flex;
    position: relative;
    margin-right: 23px;

    color: #b0bec5;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.6px;

    &:not(:last-child)::after {
      content: '/';
      position: absolute;
      right: calc(-23px / 2);
    }

    &:last-child {
      color: #263238;
    }
  }
}
