@import '../../../../styles/index.scss';

.productDescrSection{
    @include media-min(desktop) {

        padding-left: 56px;
    }
}
.productDescriptionLinks {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid getColor(primary-navy);
  @include media-min(desktop) {
    gap: 76px;
    margin-bottom: 60px;
  }
}

.link {
    // background-color:transparent;
    padding:12px;
    color: getColor(primary-navy);
  @include main-font(600, 16px, 22px);
  @include media-min(desktop) {
    @include main-font(400, 18px, 24.5px);
    padding:12px 24px;}
  &:active {
    background-color: getColor(primary-navy);
    color: getColor(full-white);
   
  }
}
.productDesc{
    @include media-min(desktop){
        display: flex;
        gap: 30px;
        padding-bottom: 16px;
        margin-bottom: 44px;

    }
}

.title{
    @include main-font(700, 20px, 27px, 0.05em);
    margin-bottom: 16px;
    color: getColor(primary-navy);
    @include media-min(desktop) {
      @include main-font(700, 24px, 33px, 0.05em);
      margin-bottom: 40px;
    }

}

.productDescText{
    color: getColor(primary-navy);
    padding-right: 4px;
    height:400px;
    overflow-y: auto;
    @include main-font(600, 16px, 22px,  0.05em);
    @include media-min(desktop) {
      @include main-font(400, 18px, 24.5px,  0.05em);
      width:554px;
      height:408px;
     
      padding-right: 8px;
    }

}

.productDescrImg{
    @include media-max(mobile){
        display:none;
    }
   

}
.productDescrAlbum{
    @include media-max(mobile){
        display:none;
    }
   
    display: flex;
    gap: 30px;

}
