@font-face {
  font-family: 'Bruno Ace';
  src: url('../../public/fonts/Bruno_Ace/BrunoAce-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf')
    format('truetype');
}
