:root {
  // Colors
  --dark-background-color: #263238;
  --light-background-color: #fdfdfd;
  --grey-background-color: #cfd8dc;
  --dark-text-color: #263238;
  --light-text-color: #eceff1;
  --white-color: #ffffff;
  --primary-grey-color: #b0bec5;
  --secondary-grey-color: #78909c;
  --primary-accent-color: #ffe0b2;
  --secondary-accent-color: #d81b60;
}
