:root {
    // Colors
    --dark-background-color: #263238;
    --light-background-color: #FDFDFD;
    --grey-background-color:#CFD8DC;
    --dark-text-color: #263238;
    --light-text-color: #ECEFF1;
    --white-color: #FFFFFF;
    --primary-grey-color: #B0BEC5
    --secondary-grey-color: #78909C;
    --primary-accent-color:#FFE0B2;
    --secondary-accent-color:#D81B60;
  }