.portfolio {
  position: relative;
  margin-top: 120px;
  margin-bottom: 35px;
  padding: 0 135px;
  padding-bottom: 85px;
}

.blackAccent {
  position: absolute;
  top: 0;
  right: 0;
  width: 512px;
  height: 505px;
  background: #263238;
  backdrop-filter: blur(5.5px);
}

.title {
  margin-bottom: 60px;
  display: block;
  width: 100%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  letter-spacing: 0.05em;

  /* blueGrey 900 */

  color: #263238;

  text-shadow: 0px 50px 100px #ffffff;
}
