.carouselContainer {
  position: relative;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1440px) {
    width: 570px;
  }
}

.selectedImage {
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
  min-height: 252px;
  margin-bottom: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    left: 0;
    width: 100%;
  }

  @media (min-width: 1440px) {
    height: 323px;
    margin-bottom: 32px;
  }
}

.sale {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 4px 18px;
  background-color: #d81b60;
  color: #eceff1;
  text-transform: uppercase;
}

.buttonWrap {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carouselButton {
  width: 32px;
  height: 32px;
  background-color: #263238;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.carouselButtonRight {
    transform: rotate(180deg);
  }
  
  @media (min-width: 1440px) {
    height: 40px;
    width: 40px;
  }
}

.carouselImages {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.carouselImage {
  position: relative;
  height: 68px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 16px;
  }

  @media (min-width: 1440px) {
    height: 112px;
  }
}

.carouselImageSelected::after {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 8px;
  background-color: #ffe0b2;
}
