$colors: (
  primary-navy: rgba(38, 50, 56, 1),
  full-white: rgba(255, 255, 255, 1),
  full-black: rgba(0, 0, 0, 1),
  light-pink: rgba(255, 224, 178, 1),
  dark-pink: rgba(216, 27, 96, 1),
  blue-gray: rgba(236, 239, 241, 1),
);

@function getColor($key) {
  @return map-get($colors, $key);
}

// :root {
//   --toastify-color-success: rgba(38, 50, 56, 1);
// }
