@import '../../../styles/index.scss';

.aboutUs {
  position: relative;

  // width: 349px;
  @include media-min(desktop) {
    width: 100%;
    
  }
}

.aboutUsBackground {
  position: relative;
  margin-top: 60px;
  padding-top: 400px;
  // margin-left: 16px;
  background-color: getColor(primary-navy);
  padding-bottom: 91px;
  padding-left: 16px;
  padding-right: 16px;

  @include media-min(tablet) {
    margin-left: 364px;
    margin-top: 120px;
    padding-top: 80px;
    padding-bottom: 356px;
    padding-left: 472px;
    padding-right: 134px;
  }
}

.aboutUsFrame {
  position: absolute;
  top: 24px;
  left: 1px;
  border-top: 2px solid getColor(light-pink);
  border-right: 2px solid getColor(light-pink);
  border-bottom: 2px solid getColor(light-pink);
  width: 333px;
  height: 328px;
  @include media-min(tablet) {
    width: 357px;
    height: 580px;
    top: 84px;
    left: 0;
    border-top: 5px solid getColor(light-pink);
    border-right: 5px solid getColor(light-pink);
    border-bottom: 5px solid getColor(light-pink);
  }
}

.aboutUsImg {
  z-index: 99;
  position: absolute;
  top: 40px;
  left: -28px;
  @include media-min(tablet) {
    top: 124px;
    width: 568px;
    height: 580px;
    left: 136px;
  }
}

.aboutUsTitle {
  // position: absolute;
  color: getColor(full-white);
  margin-bottom: 16px;
  // margin-left: 16px;
  @include main-font(700, 24px, 29px);
  @include media-min(tablet) {
    margin-bottom: 60px;
  }
}
.aboutUsText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.aboutUsContent {
  color: getColor(full-white);
  @include main-font(400, 16px, 22px, 0.05em);
  letter-spacing: 0.05em;

  @include media-min(tablet) {
    @include main-font(400, 18px, 22px, 0.05em);
  }
}

.floatingImg {
  max-width: none;
  @include media-min(tablet){
    width: 469px;
    height: 394px;
  }
}


.aboutNightStandImg{
  overflow: hidden;
  width: 162px;
  height: 219px;
  z-index: 50;
  position: absolute;
  top: calc(100% - 108px);
  left: calc(100% - 162px);
  @include media-min(tablet) {
    top: calc(100% -  281px);
    left: calc(100% - 484px);
    width: 469px;
    height: 394px;
    margin-bottom: 60px;
    overflow: visible;
  }


}
