.aboutUs {
  padding-top: 60px;
  padding-bottom: 109px;
  display: flex;
  justify-content: end;
  position: relative;
  color: var(--light-text-color);
  overflow: hidden;
}

.wrapper {
  width: 95%;
  height: 738px;
  padding-top: 408px;
  padding-bottom: 91px;
  background-color: var(--dark-background-color);
  position: relative;
}

.aboutUsContainer {
  height: 247px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text {
  letter-spacing: 1px;
}

.border {
  width: 342px;
  height: 328px;
  background-color: transparent;
  border-top: 1px solid var(--primary-accent-color);
  border-right: 1px solid var(--primary-accent-color);
  border-bottom: 1px solid var(--primary-accent-color);
  position: absolute;
  top: 25px;
  left: 0;
}

.leftImage {
  position: absolute;
  top: 100px;
  left: -18px;
}

.rightImage {
  position: absolute;
  bottom: 0;
  left: 221px;
}
