.kitchenPage {
  .kitchenSliderWrap {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1440px) {
      justify-content: flex-start;

      .kitchenSliderAbout {
        width: 300px;
      }
    }
  }

  .title {
    margin-bottom: 8px;
    color: #263238;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;
  }
  .article {
    display: block;
    margin-bottom: 32px;
    color: #b0bec5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.8px;
  }

  .priceBtnWrap {
    @media (min-width: 1440px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .colorTitle {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .colors {
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 51px;
      margin-bottom: 32px;
      text-align: center;

      img {
        margin-bottom: 4px;
      }
    }

    span {
      color: #b0bec5;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.6px;
    }

    @media (min-width: 1440px) {
      flex-wrap: wrap;
      justify-content: start;

      li {
        width: 70px;
        height: 70px;
        &:not(:last-child) {
          margin-right: 30px;
        }

        img {
          width: 100%;
          height: 100%;
        }

        &:hover span {
          opacity: 1;
        }
      }

      span {
        transition: all 0.3s;
        width: 110px;
        opacity: 0;
        font-weight: 700;
      }
    }
  }

  .price {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
  }
}

.priceWrap {
  display: flex;
  align-items: center;
  margin-bottom: 34px;

  .priceOld {
    position: relative;
    margin-right: 16px;
    color: #b0bec5;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #263238;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  .price {
    &.active {
      color: #d81b60;
    }
  }

  @media (min-width: 1440px) {
    height: 112px;
    margin-bottom: 0;
  }
}
