.categoryItem {
  display: flex;
  flex-direction: column;
  color: var(--light-text-color);
  text-transform: uppercase;

  &:hover {
    color: var(--primary-accent-color);
  }
}

.innerWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.innerBox {
  height: 156px;
  top: 102px;

  @media screen and (min-width: 768px) {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 87px;
    z-index: 10;
  }
}

.innerList {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    margin-top: 12px;
    margin-left: 36px;
  }
}

.innerItem {
  // border-top: 1px solid red;
  color: var(--light-text-color);

  @media screen and (max-width: 767px) {
    position: relative;
    padding-top: 16px;
    padding-bottom: 12px;
  }

  &:hover {
    color: var(--primary-accent-color);
  }

  &::before {
    content: '';
    width: 100vw;
    height: 1px;
    color: red;
    position: absolute;
    top: 0;
    left: -16px;
  }

  // &:last-child {
  //   border-bottom: 1px solid red;
  // }
}

.navLink {
  color: inherit;
}

.navBtn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    stroke: var(--primary-accent-color);
  }
}

.rotate {
  transform: rotate(180deg);
}

// .vectorIcon {
//   margin-left: 8px;
// }

// .item {
//   position: relative;
//   padding: 14px 0;
//   color: #fdfdfd;
//   font-size: 16px;
//   line-height: calc(22 / 16);
//   text-transform: uppercase;

//   transition: all 0.2s;

//   @media (max-width: 767px) {
//     &:first-child {
//       height: 64px;
//       display: flex;
//       align-items: center;
//       margin-bottom: 10px;
//       border-bottom: 1.5px solid #ffe0b2;
//     }
//   }

//   &:hover {
//     color: #ffe0b2;
//   }

//   a {
//     display: flex;
//     align-items: center;
//     padding-left: 16px;

//     img {
//       width: auto;
//       height: auto;
//       margin-left: 14px;
//       transition: all 0.2s;
//     }
//   }

//   &.open {
//     padding-bottom: 0;
//   }

//   &.open > a img {
//     transform: rotate(180deg);
//   }

//   @media (min-width: 768px) {
//     font-size: 12px;
//     padding: 0;

//     &:first-child {
//       order: 1;
//     }

//     a {
//       padding: 34px 0 29px 0;
//     }
//   }

//   @media (min-width: 768px) and (max-width: 1439px) {
//     &:nth-child(3) {
//       order: -1;
//     }
//   }

//   @media (min-width: 1440px) {
//     font-size: 16px;

//     .itemSubMenu {
//       top: 88px;
//       .item {
//         font-size: 16px;
//       }
//     }

//     .itemLink {
//       width: calc(100% + 24px);
//     }
//   }
// }
