.item {
  position: relative;
  padding: 14px 0;
  color: #fdfdfd;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-transform: uppercase;

  transition: all 0.2s;

  @media (max-width: 767px) {
    &:first-child {
      height: 64px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border-bottom: 1.5px solid #ffe0b2;
    }
  }

  &:hover {
    color: #ffe0b2;
  }

  a {
    display: flex;
    align-items: center;
    padding-left: 16px;

    img {
      width: auto;
      height: auto;
      margin-left: 14px;
      transition: all 0.2s;
    }
  }

  &.open {
    padding-bottom: 0;
  }

  &.open > a img {
    transform: rotate(180deg);
  }

  @media (min-width: 768px) {
    font-size: 12px;
    padding: 0;

    &:first-child {
      order: 1;
    }

    a {
      padding: 34px 0 29px 0;
    }
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    &:nth-child(3) {
      order: -1;
    }
  }

  @media (min-width: 1440px) {
    font-size: 16px;

    .itemSubMenu {
      top: 88px;
      .item {
        font-size: 16px;
      }
    }

    .itemLink {
      width: calc(100% + 24px);
    }
  }
}
