@mixin transition($typeOne, $typeTwo: false, $typeThree: false) {
  transition: $typeOne 300ms ease-in;
  @if $typeTwo {
    transition: $typeOne 300ms ease-in, $typeTwo 300ms ease-in;
  }
  @if $typeThree {
    transition: $typeOne 300ms ease-in, $typeTwo 300ms ease-in,
      $typeThree 300ms ease-in;
  }
}

// body {
//   @include transition(background-color, color);
// }
