@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600;700&family=Roboto&display=swap');

// font-family: 'Encode Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

@mixin main-font(
  $weight,
  $size,
  $height,
  $letter: 0em,
  $style: normal,
  $transform: none
) {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Circe', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: calc($height / $size);
  letter-spacing: $letter;
  font-style: $style;
  text-transform: $transform;
}

@mixin second-font(
  $weight,
  $size,
  $height,
  $letter: 0em,
  $style: normal,
  $transform: none
) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: calc($height / $size);
  letter-spacing: $letter;
  font-style: $style;
  text-transform: $transform;
}
